<h1>File — debug upload</h1>

<form action="/file/upload" enctype="multipart/form-data" method="post">

  <label for="id">Choose a student</label>
  <select name="id" id="id">
    <% for ( var n in students ) { %>
    <option value="<%= students[ n ].id %>"><%= students[ n ].name %></option>
    <% } %>
  </select>

  <input type="file" name="file" multiple="multiple" required="required"><br>
  <input type="submit" class="button" value="Upload">

</form>
