<h1>
  <a href="/">Students</a> — Add new
</h1>

<form action="" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" required="required"/>
  <input type="submit" class="button success" />
</form>
