<div class="row">
  <div class="large-8 columns">
    <h1>Students</h1>
  </div>
  <div class="large-4 columns">
    <a href="/student/add" class="button secondary radius right">Add student</a>
  </div>
</div>

<table class="large-12">
  <thead>
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% for ( var n in students ) { %>
  <tr id="student-<%= students[ n ].id %>">
    <td>
      <a href="/student/photos/<%= students[ n ].id%>">
        <%= students[ n ].name %>
      </a>
    </td>
    <td>
      <a href="/student/destroy/<%= students[ n ].id %>"
         data-student="<%= students[ n ].id %>"
         class="button tiny alert right confirm">delete</a>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>
