<h1>
  <a href="/">Students</a> — <%= student.name %>
</h1>

<ol>
  <% for ( var n in student.files ) { %>
    <% if ( student.files[ n ].path ) { %>
    <!-- <%- JSON.stringify( student.files[ n ] ) %> -->
    <li><%= student.files[ n ].createdAt %><br/>
      <img src="<%= student.files[ n ].path %>" /></li>
    <% } %>
  <% } %>
</ol>
